.experiences {
    background: #000814;
    /* margin: 5em 0; */
}

.xp-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.xp-title :last-child{
    font-size: 3rem;
    color: #FFC300;
}

.xp-content {
    margin: 0 3.4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 40px 0;
}

.card-xp {
    background: transparent;
    /* border: solid 1px #FFC300; */
    /* width: 700px; */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 1px 1px  rgba(95, 100, 107, 0.3);
}

.card-xp-title h2 {
    font-size: 1.2rem;
    color: #fff;
}

.card-xp-subtitle {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.card-xp-content {
    letter-spacing: .3px;
    hyphens: auto;
    text-align: justify;
}

.stack-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stack-list p {
    border: solid 1px #FFC300;
    border-radius: 8px;
    padding: 5px;
}

.formation {
    background-color: #000B1E;
    /* margin: 5em 0; */
}

.timeline {
    margin: 0 3.4rem;
    padding: 2rem 0;
    position: relative;
    z-index: 0;
}

.f-container {
    width: 50%;
    position: relative;
    animation: movedown 3s linear forwards;
    opacity: 0;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    right: -8px;
    top: 32px;
    z-index: 10;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background-color: #FFC300;
    color: #000814;
    font-size: 1.2rem;

}

.right i {
    left: -17px;
}

.text-box {
    padding: 20px 20px;
    margin: 0 30px;
    background-color: #fff;
    border-radius: 6px;
    font-size: 15px;
    color: #000814;
    position: relative;
}

.left {
    left: 0;

}

.right {
    left: 50%;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -7px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

.arrow-left {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
    z-index: 1;
}

.arrow-right {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
    z-index: 1;
}

/* animation */
.f-container:nth-child(1) {
    animation-delay: 1s;
}

.f-container:nth-child(2) {
    animation-delay: 2s;
    
}

.f-container:nth-child(3) {
    animation-delay: 3s;
    
}

.f-container:nth-child(4) {
    animation-delay: 4s;
    
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@media screen and (max-width: 700px) {
    .timeline {
        /* margin: 0 auto; */
    }
    .timeline::after {
        left: 0;
    }

    .f-container {
        width: 100%;
        /* inset: 0; */
        margin: 10px 0;
    }

    .left i{
        left: -17px;
    }

    .right {
        left: 0;
    }

    .arrow-left,.arrow-right {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -14px;
    }
}
