.experiences {
    background: #000814;
    /* margin: 5em 0; */
}

.xp-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.xp-title :last-child{
    font-size: 3rem;
    color: #FFC300;
}

.xp-content {
    margin: 0 3.4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 40px 0;
}

.card-xp {
    background: transparent;
    /* border: solid 1px #FFC300; */
    /* width: 700px; */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px  #001D3D;
    display: flex;
    flex-direction: column;
}

.card-xp-title h2 {
    font-size: 1.2rem;
    color: #fff;
}

.card-xp-subtitle {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.card-xp-content {
    letter-spacing: .3px;
    hyphens: auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #353535;
}

.stack-list {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    margin-top: auto;
}

.stack-list p {
    border: solid 1px #001D3D;
    border-radius: 8px;
    padding: 5px;
    color: #353535;
}

.formation {
    background-color: #000B1E;
    /* margin: 5em 0; */
}

.timeline {
    margin: 0 3.4rem;
    padding: 2rem 0;
    position: relative;
    z-index: 0;
}

.f-container {
    width: 50%;
    position: relative;
    opacity: 1;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    right: -8px;
    top: 32px;
    z-index: 10;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background-color: #FFC300;
    color: #000814;
    font-size: 1.2rem;

}

.right i {
    left: -17px;
}

.text-box {
    padding: 10px 20px;
    margin: 0 30px;
    background-color: #353535;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    position: relative;
}

.left {
    left: 0;

}

.right {
    left: 50%;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #353535;
    top: 0;
    left: 50%;
    margin-left: -7px;
    z-index: -1;
}

.arrow-left {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #353535;
    right: -15px;
    z-index: 1;
}

.arrow-right {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #353535;
    left: -14px;
    z-index: 1;
}

@media screen and (max-width: 700px) {

    .timeline::after {
        left: 0;
    }

    .f-container {
        width: 100%;
        margin: 10px 0;
    }

    .left i{
        left: -17px;
    }

    .right {
        left: 0;
    }

    .arrow-left,.arrow-right {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -14px;
    }
}
