header{
  background-color: #000B1E;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0.25em 0.5em 0 rgb(0, 29, 61, 0.25),
              0 0.4em 1.25em 0 rgb(0, 29, 61,0.15);
}
 
nav {
  width: 95%;
  height: 5em;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-weight: 700;
  padding-left: 0;
}

nav .menu {
  width: 70%;
  border-bottom: solid 1px #001D3D;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  cursor: pointer; 
}

.menu li {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  /* font-weight: 500; */
  transition: 0.3s;
  height: 20px;
  width: auto;
  padding: 5px;
  /* border-radius: 10px; */
}

/* hover */
.menu li:hover {
  color: #FFC300;
  /* background-color: #fff; */
  border-bottom: solid 1px #FFC300;
}

.menu > ul, .network > ul{
  list-style: none;
}

.network {
  height: 5em;
  width: 10%;
}

.network > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0;
}

.network a {
  color: #fff;
}

.network ul li:hover {
  transition: .3s ease-in;
}

.network ul li:hover {
  transform: scale(1.2);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 150px;
  height: 70px;
}

span {
  color: #FFC300;
  font-size: 1.5em;
}