.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: green; */
  margin: 10em 3.4em 5em 3.4em;
  /* padding: 0 3.4em; */
}

.home-content{
  font-size: 1.2em;
  /* background: red; */
  width: 60%;
}

.home-content h1 , .home-content h3{
  margin: 0;
}

.type-writer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  color: #ffffff;
}


.Typewriter__wrapper , .Typewriter__cursor{
  color: #ffffff;
  font-size: 1em;
}

.profil img {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border: solid,2px, #001D3D;
  /* box-shadow: 0px 0px 5px 1px rgba(255,195,0,0.58);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255,195,0,0.58);
  -moz-box-shadow: 0px 0px 5px 1px rgba(255,195,0,0.58); */
  box-shadow: 0px 0px 5px 1px  rgba(95, 100, 107, 0.9);
}

.btn-down {
  /* background: green; */
  width: 100%;
  margin-top: 3em;
}

.button {
  background: #001D3D;
  border: solid, 1px, #001D3D;
  border-radius: 10px;
  height: 50px;
  font-size: 1em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  gap: 1em;
  font-weight: 500;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.button:hover{
  transform: scale(.98);
  color:  #fff;
  background: #000B1E;
}

h3 {
  font-weight: 200;
  font-size: .9em;
}

@media screen and (max-width: 1330px) and (min-width: 1050px) {
  .button {
    width: 45%;
  }

  .profil img {
    width: 25em;
    height: 25em;
  }

  .home-content h3 {
    font-size: .8em;
  }

  .type-writer {
    font-size: .8em;
  }

  .Typewriter__wrapper , .Typewriter__cursor{
    font-size: .8em;
  }
}

@media screen and (max-width: 1050px) {
 .home {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    margin: 10;
  }
 
  .home-content {
    width: 100%;
    margin-top: 20px;
    padding: 0 15px;
  }

  .home-content h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .type-writer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    flex-wrap: wrap;
    text-align: center;
  }

  .home-content h3 {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
  }

  .btn-down {
    display: flex;
    justify-content: center;
  }
  

  .profil {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .button {
    width: 60%;
  }

  .button p {
    font-size: 1rem;
  }
  
  .type-writer{
    font-size: .6em;
  }

  .profil img{
    width: 200px;
    height: 200px;
  }

  .home {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
  }
}