.projects {
  background: #000814;
  margin: 5em 0;
}

.projects h2{
  text-align: center;
  /* margin: 5rem; */
}

.projects-content {
  /* background: green; */
  margin: 0 3.4em 3em 3.4em;
  /* width: 400px; */
  /* filter: blur(2px); */
  /* opacity: 0.1; */

}

.card-project {
  background: #000814;
  /* border-radius: 20px; */
  width: 100%;
  height: 450px;;
}

.project-img {
  /* background: orangered; */
  height: 300px;
  
}

.project-img img{
  width: 100%;
  /* border-radius: 20px 20px 0 0; */
  height: 100%;
}

.description {
  color: #fff;
  /* background: red; */
  padding: 0 10px;
}

.description h3{
  font-weight: 700;
}

.btn {
  padding: 0 10px;
}

button {
  color: #001D3D;
  font-size: .9em;
  font-weight: 700;
  background: #FFC300;
  border: none;
  /* border-radius: 10px; */
  width: 100px;
  height: 30px;
}