.projects {
  background: #000814;
  margin: 5em 0;
}

.projects h2{
  text-align: center;
  /* margin: 5rem; */
}

.projects-content {
  /* background: green; */
  margin: 0 3.4em 3em 3.4em;
  /* padding: 0 3.4em 3rem 3.4em; */
  /* margin: 0; */

  /* margin: 0 1rem 3rem; */
  /* width: 400px; */
  /* filter: blur(2px); */
  /* opacity: 0.1; */

}

.card-project {
  background: #000814;
  /* border-radius: 20px; */
  width: 100%;
  height: auto;;
}

.project-img {
  /* background: orangered; */
  height: 300px;
  
}

.project-img img{
  width: 100%;
  /* border-radius: 20px 20px 0 0; */
  height: 100%;
}

.description {
  color: #fff;
  /* background: red; */
  padding: 0 10px;
}

.description h3{
  font-weight: 700;
}

.btn {
  padding: 0 10px;
}

button {
  color: #001D3D;
  font-size: .9em;
  font-weight: 700;
  background: #FFC300;
  border: none;
  /* border-radius: 10px; */
  width: 100px;
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .projects-content {
    margin: 0 1.5rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .projects-content {
    margin: 0 1rem 3rem;
  }

  .card-project {
    height: auto; /* important */
    /* width: 90%; */
    padding: 0 20px;
  }

  .project-img {
    height: 220px;
  }

  button {
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .projects-content {
    margin: 0 0.7rem 2rem;
  }

  .project-img {
    height: 180px;
  }
}