.services {
    background: #000814;
    margin: 5rem 0;
    height: auto;
}

.services h2 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.services-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* background: red;  */
    margin: 0 3.4em 0 3.4em;
    padding-top: 20px;
    /* width: 100%; */
}

.card-services {
    /* border: solid, 1px, #fff; */
    padding: 20px 0;
    width: 400px;
    background: #000814;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px  rgba(95, 100, 107, 0.9);

}

.icon {
    font-size: 3.5rem;
    color: #FFC300;
    display: flex;
    justify-content: center;
}

.card-services .title {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

.card-services p {
    font-size: .9rem;
    text-align: justify;
    padding: 0 20px;
    color: #e5e5e5;
    /* background: black; */
    letter-spacing: .3px;
    hyphens: auto;
    line-height: 1.5;

}