.competences {
  background: #000B1E;
  /* margin: 0 3.4em; */
  height: 100%;
}

.skills-title {
  font-size: .9rem;
  color: #fff;
  margin: 0 3.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trait {
  border: solid, 2px, #FFC300;
  background: blue;
  width: 80%;
}

.skills-content {
  /* background: green; */
  /* margin: 0 3.4em; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: stretch;
}

.skills {
  /* background: #fff; */
  width: 100%;
  height: 200px;
  /* border-radius: 50%; */
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills img {
  /* border-radius: ; */
  width: 50px;
  height: 100px;
  object-fit:contain;
}

.skills p {
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 1140px) {
  .trait {
    width: 60%;
  }
}

@media screen and (max-width: 650px) {
  .trait {
    display: none;
  }

  .skills-title  {
    justify-content: center;
  }

  .skills-content {
    grid-template-columns: repeat(2, 1fr);
  }
}