@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: 'open_sans',sans-serif;
  src: url(./assets/fonts/Open_Sans/static/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url(./assets/fonts/Open_Sans/static/OpenSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url(./assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url(./assets/fonts/Open_Sans/static/OpenSans-Light.ttf);
  font-weight: 200;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'open_sans', sans-serif, Arial, Helvetica;
  background-color: #000814;
  color: #fff;
}

.slick-slide > div {
  margin: 0 10px;
}

section {
  scroll-margin-top: 5em;
}

#home {
  scroll-margin-top: 10em;
}
/* h3 {
  font-weight: 200;
  font-size: 1em;
} */